body {
    background-color: lavender;

}

#container {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}

img {
    display: block;
    margin: auto;
    width: 800px;
}

nav {
    text-align: center;
    margin: 2px 2px;
    padding: 3px;
    background-color: lavender;
}


nav ul {
    list-style-type: none;
    padding: 0px;

}

nav li {
    display: inline-block
}

nav li a {
    display: block;
    color: blueviolet;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 20px;
    width: 120px;
    height: 40px;
    line-height: 40px;

}

nav a :hover{
    background-color: white;
    color: black;
}


h1,h2,h3,h4,footer
{
 text-align: center;
}


.centered-list {
    list-style-type: none; /* Removes the default bullets */
    padding: 0 12px;
    margin: 3px auto; /* Centers the list within its container */
    text-align: center; /* Centers the list items */
  }

.centered-list li 
{
    padding-top: 2px;
    padding-bottom: 2px;
}